- type = input_method.input_method_type.to_s
div class="lookup_option tab-pane" id="#{type}_select_#{select.id}_#{input_method.position}" data-class-name="#{type}"
  = render_lookup_header(select, input_method.lookup_class)
