resque_config do
  development do
    redis_host 'localhost:6379'
    resque_status_expire_in (24 * 60 * 60)
  end
  test do
    redis_host 'localhost:6379'
    resque_status_expire_in (24 * 60 * 60)
  end
  production do
    redis_host 'localhost:6379'
    resque_status_expire_in (24 * 60 * 60)
  end
end
