redis_session_store_config do
  development do
    key '_RB-CnO_dev_session'
    redis(is_array: false) do
      expire_after (30 * 60)
      host 'localhost'
      key_prefix 'dev:session:'
      port 6379
    end
  end

  test do
    key '_RB-CnO_test_session'
    redis(is_array: false) do
      expire_after (30 * 60)
      host 'localhost'
      key_prefix 'test:session:'
      port 6379
    end
  end

  production do
    key '_RB-CnO_session'
    redis(is_array: false) do
      expire_after (60 * 60)
      host 'mem_ds'
      key_prefix 'cno:session:'
      port 6379
    end
  end
end
