yell_config do
  development do
    adapters do
      datefile do
        filename 'log/development.log'
      end
      sns_adapter do
        level 'gte.warn'
        topic_name 'dev'
      end
    end
  end
  production do
    adapters do
      datefile do
        level 'gte.warn'
        filename 'log/errors.log'
        keep 5
      end
      datefile do
        filename 'log/production.log'
      end
      sns_adapter do
        level 'gte.warn'
        topic_name 'sway'
      end
    end
  end
end
